<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Brand</title>
</head>
<body>
<h1>Редактировать бренд</h1>

<form action="/edit_brand" method="POST">
    <input type="hidden" name="id" th:value="${brand.id}" />

    <label for="name">Наименование бренда:</label>
    <input type="text" id="name" name="name" th:value="${brand.name}" required placeholder="Enter brand name">
    <br><br>

    <button type="submit">Сохранить</button>
</form>

<br>
<a href="/add_brand">Вернуться</a>
</body>
</html>
